/node_modules
/build
/junk
/coverage
/types/truffle-contracts/
/reporter/reporter_*.txt
coverage.json
dump.json
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/scenario/pattern2/summaries/
!test/scenario/pattern2/summaries/*.md
test/scenario/pattern3/summaries/
!test/scenario/pattern3/summaries/*.md
test/scenario/pattern4/summaries/
!test/scenario/pattern4/summaries/*.md
test/wrapper/pattern2/summaries/
!test/wrapper/pattern2/summaries/*.md